{% extends 'labyrinth/base.html' %}

    {% block head %}
    {{ block.super }}
         <title>She's Asleep</title>
    <style>
    body {
        background-color: rgb(0, 7, 37)
    }
    h1 {
    margin-top: 30px;
    }
    h1 {
        margin-left: 30px;
    }
    p {
        margin-left: 50px;
        margin-right: 20px;
        font-size: 20px;
    }
    label {
        margin-left: 20px;
    }
    img {
        margin-left: 0px
    }
    a {
        font-size: 20px;
        margin-left: 40px;
    }
    button {
        margin-left: 20px;
    }
    .Shaquila {
        color: rgb(65, 29, 104)
    }
    .You {
        color:rgb(147, 0, 0)
    }
    .zzzYou {
        -webkit-text-stroke: 0.4px rgb(255, 81, 0);
        color:rgb(109, 0, 0)
    }
    .Trance {
        -webkit-text-stroke: 0.4px rgb(0, 94, 255);
        color:rgb(148, 248, 255)
    }
    .Narrator {
        color:rgb(255, 255, 255)
    }

</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-0">
    <div style="background-color: rgb(0, 0, 0); padding: 2rem; border-radius: 0rem; min-height: 100px; margin: 0;">
<h1><span style='color: white;'>The Labrynth</span></h1></div></div>
    <br>
    <p><span class='Narrator'>You feel a stabbing pain in your head. It's as if all your senses are awakening.</span></p>
    <p><span class='zzzYou'>AAAAAAH!!! AAAAAAH GOD AAAAAAAH Q 1AAAH1@31</span></p>
    <p><span class='Narrator'>Your eyes open. The sound of wind rustling the grass bombards you. Every hair sends bullets into you. The world won't stop screaming at you in a million different languages all at once. </span></p>
    <p><span class='Narrator'>!!!!!</span></p>
    <p><span class='Narrator'>And then it's quiet. Everything clicks together. Neurons connect. Your vision stops swirling. The stars align.</span></p>
    <p><span class='zzzYou'>What... was that... I feel like I just died and came back again. At least that odd Shaquila girl is gone... why did she only speak in third person anyway?</span></p>
    <p><span class='Trance'>She is the host of this body you are now controlling.</span></p>
    <p><span class='Narrator'>A loud static sound fills your brain and a voice seems to echo within the chambers of your skull.</span></p>
    <p><span class='zzzYou'>Hello??? Who said that...!</span></p>
    <p><span class='Trance'>Sorry... it's a little bit difficult reaching you. I'm in a different part of the host's brain, so I'm trying my best to communicate through a chain of electrical impulses. The part of the host's brain you're in is more unsafe than mine. It may have led to some of your memory loss.</span></p>
    <p><span class='zzzYou'>Memory loss...? What do you mean? And how do you know who I am?</span></p>
    <p><span class='Trance'>So you did forget... no worries, I'll fill you in. My name is Trance. We belong to a species of rare fungi called Amerfidelia. The drought you're seeing affect all the plants around you is making our insentient competition for nature's resources weaker. It has been saving our familes lives. We knew the host was plant-obsessed, and often waterred our competition, as well as had intentions of stopping the drought. Then one day, when she was picking berries near the English ivy leaves we grew on, her elbows nudged the leaves and we flew up into the air. After landing on her clothes, we decided to invade her brain, and made a pact we would stop her. Make sure not to tell the host any of this, as she, as well as the rest of mankind, believes that all fungi are not sentient. If they find out about this, they could do more damage to our species than they've already done...</span></p>
    <p><span class='zzzYou'>Geez... that explains a lot. I hope my family is doing okay... How do we stop the host???</span></p>
    <p><span class='Trance'>I'm in the brain's memory area, and I can tell you anything about the host and the world. You're in the main control area, and can interact with any of her thoughts. When she sleeps, you take over her body. You can neither communicate with me nor <i>see</i> or <i>move</i> when she's awake however.</span></p>
    <br>
    <p><span class='Trance'>Luckily for us, <b>she's thinks quite often in the second person, even when referring to herself. It seems like she switches to third person when she speaks to you though...</b></span></p>.
    <p><span class='Trance'>I think that's one of her weaknesses; her stepmother runs her life, so she speaks in second and third person to feel more in control. Try to use that weakness to your advantage while trying to manipulate her.</span></p>.
    <p><span class='zzzYou'>Okay, Trance. I'll try my best to remember all of that for the sake of Amerfidelia.</span></p>
    <br>
    <a href="/labyrinth_hole" class="zzzYou">Wake up!</a>
    <br>
{% endblock %}
