{% extends 'labyrinth/base.html' %}
{% load static %}

    {% block head %}
    {{ block.super }}
         <title>Follow!</title>
    <style>
    body {
        background-color: rgb(185, 220, 255)
    }
    h1 {
    margin-top: 30px;
    }
    h1 {
        margin-left: 30px;
    }
    p {
        margin-left: 50px;
        margin-right: 40px;
        font-size: 20px;
    }
    label {
        margin-left: 20px;
    }
    img {
        margin-left: 0px
    }
    a {
        font-size: 20px;
        margin-left: 20px;
    }
    button {
        margin-left: 20px;
    }
    .Shaquila {
        -webkit-text-stroke: 0.4px rgb(255, 0, 208);
        color: rgb(65, 29, 104)
    }
    .You {
        -webkit-text-stroke: 0.4px rgb(255, 0, 0);
        color:rgb(147, 0, 0)
    }
    .zzzYou {
        -webkit-text-stroke: 0.4px rgb(255, 81, 0);
        color:rgb(109, 0, 0)
    }
    .Trance {
        -webkit-text-stroke: 0.4px rgb(0, 94, 255);
        color:rgb(148, 248, 255)
    }
    .Narrator {
        color:rgb(0, 0, 0)
    }
    .parrot {
        -webkit-text-stroke: 0.4px rgb(0, 255, 38);
        color: rgb(7, 100, 46);
    }

</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-0">
    <div style="background-color: rgb(59, 52, 152); padding: 2rem; border-radius: 0rem; min-height: 100px; margin: 0;">
<h1><span style='color: white;'>The Labyrinth</span></h1></div></div>
<audio autoplay loop>
            <source src="{% static '/sounds/fountain.mp3' %}" type="audio/mpeg">
            Your browser does not support audio.
        </audio>    
    <p><span class='parrot'>"Welcome to the fountain, m'lady!"</span></p>
    <p><span class='Shaquila'>You stare up at the massive fountain that stretches into the sky. Only the second tier must be at least 200 feet from the ground. The basin stretches so far that you can't even see the other side. "You call <i>this</i> a fountain??? This is an <i>ocean</i>!"</span></p>
    <p><span class='parrot'>It might be a bit big, but it's still a fountain! Every animal, fellow, or thing that lives here drinks from this fountain. Care for a sip?</span></p>
    <p><span class='Shaquila'>You take a peek into the water. The depth is level across the entire fountain floor. If you stepped inside of it, it would probably reach up to your hips. You can see many hydrophobic white blobs that stick together floating through the water. They range from the size of dust to your forearm in radius. "I don't know if I trust those white...things."</span></p>
    <p><span class='parrot'>"Aww, c'mon! Don't be afraid! Those are the vitamins of our land. They provide the drinker with strength and nutrients!"</span></p>
    <p><span class='Narrator'>You recognize the white blobs to be similar to the species you belong to. They are known as Fusargillia. When ingested by humans and many other animals, their spores cause a form of meningitis, an inflammation of tissue surrounding the brain...</span></p>
    <br>
    <a href="/say_nothing" class="You">... (Say nothing)</a>
    <a href="/say_diseased" class="You">Shaquila, stop! It's diseased!</a>
{% endblock %}