{% extends 'labyrinth/base.html' %}
{% load static %}
    {% block head %}
    {{ block.super }}
         <title>Keep Walking...</title>
    <style>
    body {
        background-color: rgb(255, 231, 238)
    }
    h1 {
    margin-top: 30px;
    }
    h1 {
        margin-left: 30px;
    }
    p {
        margin-left: 20px;
        font-size: 20px;
    }
    label {
        margin-left: 20px;
    }
    img {
        margin-left: 0px
    }
    a {
        font-size: 20px;
        margin-left: 20px;
    }
    button {
        margin-left: 20px;
    }
    .Shaquila {
        -webkit-text-stroke: 0.4px rgb(255, 0, 208);
        color: rgb(65, 29, 104)
    }
    .You {
        -webkit-text-stroke: 0.4px rgb(255, 0, 0);
        color:rgb(147, 0, 0)
    }

</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-0">
    <div style="background-color: rgb(255, 149, 191); padding: 2rem; border-radius: 0rem; min-height: 100px; margin: 0;">
        
        <h1>The Labrynth</h1></div></div>
        <br>
    <p><span class='Shaquila'>AH!!! You're startled from the sound and jump. Who just said that?</span></p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">I did</button>
    </form>
    {% if firstbuttonclicked %}
    <audio autoplay loop>
            <source src="{% static '/sounds/silly.mp3' %}" type="audio/mpeg">
            Your browser does not support audio.
        </audio>
    <br>
    <p><span class='Shaquila'>Err... You say hello? Not you... I mean me- I mean... Err... Shaquila says hello...</span></p>
    <br>
    <p><span class='You'>Hey. Do you always say hi to voices in your head?</span></p>
    <br>
    <p>...</p>
    <p><span class='Shaquila'>This is the first time Shaquila has heard a voice in her head. She wishes for you to kindly leave.</span></p>
    <br>
    <p><span class='You'>How do you expect me to leave? I don't even know how I got in your head.</span></p>
    <br>
    <p><span class='Shaquila'>The voice's unpredictability reminds Shaquila of her stepmother. She can hear her heartbeat grow louder.</span></p>
    <p><span class='Shaquila'>She asks the voice to leave once more and takes a swing at the air.</span></p>
    <br>
    <p><span class='You'>I already told you I don't know how to leave.</span></p>
    <br>
    <p><span class='Shaquila'>"Liar!" Shaquila lashes her arms out in every direction around her. She feels a sharp pain on her right-hand ring finger.</span></p>
    <p><span class='Shaquila'>She gets pricked by a thorn from an anesthetic plant she is too sleepy to recognize...</span></p>
    <br>
    <a href="/asleep1" class="You">She's asleep...</a>
    {% else %}
    <audio autoplay>
            <source src="{% static '/sounds/nervous.mp3' %}" type="audio/mpeg">
            Your browser does not support audio.
        </audio>
    {% endif %}
{% endblock %}
