{% extends 'labyrinth/base.html' %}
{% load static %}

    {% block head %}
    {{ block.super }}
         <title>It's Diseased</title>
    <style>
    body {
        background-color: rgb(185, 220, 255)
    }
    h1 {
    margin-top: 30px;
    }
    h1 {
        margin-left: 30px;
    }
    p {
        margin-left: 50px;
        margin-right: 40px;
        font-size: 20px;
    }
    label {
        margin-left: 20px;
    }
    img {
        margin-left: 0px
    }
    a {
        font-size: 20px;
        margin-left: 50px;
    }
    button {
        margin-left: 20px;
    }
    .Shaquila {
        -webkit-text-stroke: 0.4px rgb(255, 0, 208);
        color: rgb(65, 29, 104)
    }
    .You {
        -webkit-text-stroke: 0.4px rgb(255, 0, 0);
        color:rgb(147, 0, 0)
    }
    .zzzYou {
        -webkit-text-stroke: 0.4px rgb(255, 81, 0);
        color:rgb(109, 0, 0)
    }
    .Trance {
        -webkit-text-stroke: 0.4px rgb(0, 94, 255);
        color:rgb(148, 248, 255)
    }
    .Narrator {
        color:rgb(0, 0, 0)
    }
    .parrot {
        -webkit-text-stroke: 0.4px rgb(0, 255, 38);
        color: rgb(7, 100, 46);
    }

</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-0">
    <div style="background-color: rgb(59, 52, 152); padding: 2rem; border-radius: 0rem; min-height: 100px; margin: 0;">
<h1><span style='color: white;'>The Labyrinth</span></h1></div></div>
<audio autoplay loop>
            <source src="{% static '/sounds/fountain.mp3' %}" type="audio/mpeg">
            Your browser does not support audio.
        </audio>    
    <br>
    <p><span class='Narrator'><i><b>TRUST + 1</b></i></span></p>
    <p><span class='Shaquila'>You flinch at hearing the voice's warning, but quickly think of a way to escape. "Sorry... but I think I'll pass."</span></p>
    <p><span class='parrot'>"Aww, that's really such a shame. Are you sure?"</span></p>
    <p><span class='Shaquila'>Just then, you see a zebra a yard away drinking from the water. A moment passes and the zebra starts twitching, then faints. "Yeah, I think I'm sure..." </span></p>
    <p><span class='Shaquila'>You see the parrot do a shrugging motion with its vibrant wings, and fly towards the zebra. It lands on the zebra's leg and begins to eat the zebra's belly. It takes all your strength to stop from vomiting.</span></p>
    <br>
    <p><span class='Shaquila'>Shaquila thanks you for your help... she doesn't like to think about what could've happened if you hadn't just told her that..</span></p>
    <br>
    <a href="/befriend" class="You">It's really not that big of a deal... but you're welcome!</a>
{% endblock %}