{% extends 'labyrinth/base.html' %}
{% load static %}

    {% block head %}
    {{ block.super }}
         <title>Sketchy...</title>
    <style>
    body {
        background-color: rgb(214, 185, 255)
    }
    h1 {
    margin-top: 30px;
    }
    h1 {
        margin-left: 30px;
    }
    p {
        margin-left: 50px;
        margin-right: 40px;
        font-size: 20px;
    }
    label {
        margin-left: 20px;
    }
    img {
        margin-left: 0px
    }
    a {
        font-size: 20px;
        margin-left: 50px;
    }
    button {
        margin-left: 50px;
    }
    input {
        margin-left: 20px;
    }
    .Shaquila {
        -webkit-text-stroke: 0.4px rgb(255, 0, 208);
        color: rgb(65, 29, 104)
    }
    .You {
        -webkit-text-stroke: 0.4px rgb(255, 0, 0);
        color:rgb(147, 0, 0)
    }
    .zzzYou {
        -webkit-text-stroke: 0.4px rgb(255, 81, 0);
        color:rgb(109, 0, 0)
    }
    .Trance {
        -webkit-text-stroke: 0.4px rgb(0, 94, 255);
        color:rgb(148, 248, 255)
    }
    .Narrator {
        color:rgb(0, 0, 0)
    }
    .parrot {
        -webkit-text-stroke: 0.4px rgb(0, 255, 38);
        color: rgb(7, 100, 46);
    }

</style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-0">
    <div style="background-color: rgb(140, 52, 152); padding: 2rem; border-radius: 0rem; min-height: 100px; margin: 0;">
<h1><span style='color: white;'>The Labyrinth</span></h1></div></div>

{% if trust == 0 or tree_guess == 'incorrect' %}
    <audio autoplay loop>
            <source src="{% static '/sounds/more_nervous.mp3' %}" type="audio/mpeg">
            Your browser does not support audio.
        </audio>    
{% elif trust == 2 or tree_guess == 'correct' %}
    <audio autoplay loop>
            <source src="{% static '/sounds/another_path.mp3' %}" type="audio/mpeg">
            Your browser does not support audio.
        </audio>    
{% endif %}

<br>
    {% if trust == 0 or tree_guess == 'correct' or tree_guess == 'incorrect' %}
        <p><span class='Narrator'><i><b>You don't have enough TRUST to pick that choice.</b></i></span></p>
        <br>
        <p><span class='Shaquila'>Shaquila thinks that the voice is more sketchy than any talking animal could ever be.</span></p>
    {% if action == 'n/a' %}
        <form method="POST">
        {% csrf_token %}
        <button type="submit" name='action' value="insist">Insist</button>
        <button type="submit" name="action" value="brush it off">Brush it off</button>
    </form>
    {% elif action == 'insist' and trust != -1 or tree_guess == 'incorrect' and trust != -1%}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name='action' value="insist">Insist</button>
    </form>
    {% elif action == 'brush it off' %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" name="action" value="brush it off">Brush it off</button>
    </form>
    {% endif %}
    <br>
    {% if action == 'insist' and tree_guess == 'n/a' %}
        <p><span class='You'>But think about how dangerous this could be. You don't know how you got here, where you are, what motives this talking parrot has, or how long you'll be here for. It's better to play it safe rather than risking everything just for water.</span></p>
        <p><span class='Shaquila'>Shaquila wants the voice to prove that it cares for her and her interests; she wants it to prove it isn't tricking her.</span></p>
        <p><span class='Shaquila'>Shaquila quizzes it on the species of tree that is most common by her cottage. </span></p>
        <form method="POST">
            {% csrf_token %}
            <button type="submit">It was a ...</button>
            <input type="text" name='tree_guess' placeholder="What was it?">
        </form>
    {% elif tree_guess == 'correct' or tree_guess == 'incorrect' %}
        <p><span class='You'>But think about how dangerous this could be. You don't know how you got here, where you are, what motives this talking parrot has, or how long you'll be here for. It's better to play it safe rather than risking everything just for water.</span></p>
        <p><span class='Shaquila'>Shaquila wants the voice to prove that it cares for her and her interests; she wants it to prove it isn't tricking her.</span></p>
        <p><span class='Shaquila'>Shaquila quizzes it on the species of tree that is most common by her cottage. </span></p>
    
        {% elif action == 'brush it off' %}
        <p><span class='You'>Ah... alright then... if you really don't trust me that much...</span></p>
        <a href="/follow_parrot" class="Shaquila">You follow the parrot.</a>
    {% endif %}
    {% endif %}

    <br>

    {% if tree_guess == 'correct' %}
        <p><span class='Shaquila'>You smile at the voice's correct answer. </span></p>
        <p><span class='Narrator'><i><b>TRUST + 1</b></i></span></p>

    {% elif tree_guess == 'incorrect' %}
        <p><span class='Shaquila'>You frown at the voice's incorrect answer. </span></p>
        <p><span class='Narrator'><i><b>TRUST - 1</b></i></span></p>
        <a href="/follow_parrot" class="Shaquila">You follow the parrot.</a>
    {% endif %}


    {% if trust == 2 or tree_guess == 'correct' %}
    <p><span class='Shaquila'>"Sorry birdbrain, but I just don't trust you; we've just met," you say, and strut down another path in the maze. You step into a quiet clearing, where the air is warm and still, and golden light spills over the moss like a hush. Everything feels peaceful—almost sacred. But at the far end, tucked between two thick roots, there's a hole. It's perfectly round, impossibly dark, and utterly silent. No wind, no hum, no echo—just a stillness that feels too deep, like the world forgot to fill it in. It's about the size of the one you fell through.</span></p>
    <p><span class='You'>If you fell through a hole around that size getting here, maybe falling through another will get you back?</span></p>
    <p><span class='Shaquila'>You sigh in disbelief. You trust the voice in your head, but not enough to jump into a hole for it. In the back of your head, there's also a silent prayer that there will be some way in this mysterious land to stop the drought.</span></p>
    <p><span class='Narrator'>So, what now? You could lie and claim to know that inside of that hole, there's a way to stop the drought. Or have you taken pity for Shaquila?</span></p>
    <br>
    <a href="/befriend" class="You">Maybe it would be better to avoid it. Let's see if there's a way in this maze to stop this drought.</a>
    <br>
    <a href="/lie" class="You">I know for a fact that in that hole there is a lever that will stop leaking our world's water into this world.</a>
    {% endif %}
{% endblock %}