{% extends 'labrynth/base.html' %}

    {% block head %}
    {{ block.super }}
         <title>She's Asleep</title>
    <style>
    body {
        background-color: rgb(0, 7, 37)
    }
    h1 {
    margin-top: 30px;
    }
    h1 {
        margin-left: 30px;
    }
    p {
        margin-left: 20px;
        font-size: 20px;
    }
    label {
        margin-left: 20px;
    }
    img {
        margin-left: 0px
    }
    a {
        font-size: 100px;
        margin-left: 20px;
    }
</style>
{% endblock %}

{% block content %}
<h1>The Labrynth</h1>
    <p>AH!!! You're startled from the sound and jump. Who just said that?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">I did</button>
    </form>
    <p>Err... You say hello? Not you... I mean me- I mean... Err... Shaquila says hello...</p>
    <br>
    <p>Hey. Do you always say hi to voices in your head?</p>
    <br>
    <p>...</p>
    <p>This is the first time Shaquila has heard a voice in her head. She wishes for you to kindly leave.</p>
    <br>
    <p>How do you expect me to leave? I don't even know how I got in your head.</p>
    <br>
    <p>The voice's unpredictability reminds Shaquila of her stepmother. She can hear her heartbeat grow louder.</p>
    <p>She asks the voice to leave once more and takes a swing at the air.</p>
    <br>
    <p>I already told you I don't know how to leave.</p>
    <br>
    <p>"Liar!" Shaquila lashes her arms out in every direction around her. She feels a sharp pain on her right-hand ring finger.</p>
    <p>She gets pricked by a thorn from a anesthesiac vine...</p>
    <br>
    <a >

{% endblock %}
