{% extends 'labrynth/base.html' %}

    {% block head %}
         <title>Home</title>
    <style>
    body {
        background-color: rgb(208, 230, 208)
    }
    h1 {
    margin-top: 30px;
    }
    h1 {
        margin-left: 30px;
    }
    p {
        margin-left: 20px;
        font-size: 20px;
    }
    label {
        margin-left: 20px;
    }
    img {
        margin-left: 0px
    }
    a {
        font-size: 100px;
        margin-left: 20px;
    }
</style>
{% endblock %}

{% block content %}
<h1>The Labrynth</h1>
        <p>Every rock has a name, and every tree looks the same.</p>
        <p>The cobbled path of 6 birch trees that decide to go bald every winter, </p>
        <p>a few vines of english ivy (an invasive species, but these ones doesn't seem to be doing so well),</p>
        <p>and about a billion Western hemlock trees is no newer to you than existence itself.</p>
        <p></p>
{% endblock %}