{% extends 'labrynth/base.html' %}

    {% block head %}
    {{ block.super }}
         <title>Home</title>
    <style>
    body {
        background-color: rgb(208, 230, 208)
    }
    h1 {
    margin-top: 30px;
    }
    h1 {
        margin-left: 30px;
    }
    p {
        margin-left: 20px;
        font-size: 20px;
    }
    label {
        margin-left: 20px;
    }
    img {
        margin-left: 0px
    }
    a {
        font-size: 100px;
        margin-left: 20px;
    }
</style>
{% endblock %}

{% block content %}
<h1>The Labrynth</h1>
        <p>Every rock has a name, and every tree looks the same.</p>
        <p>The cobbled path of 6 birch trees that decide to go bald every winter, </p>
        <p>a few vines of english ivy (an invasive species, but these ones doesn't seem to be doing so well at their job),</p>
        <p>and about a billion Western hemlock trees is no newer to you than life itself.</p>
        <br>
        <p>Your stepmother has sent you berry hunting... again.</p>
        <p>You really wouldn't mind being outside if the outside was as beautiful as it was a year ago.</p>
        <p>Mother Nature's cradles has long since been replaced by a drought, and with her absence the flora has suffered. </p>
        <p>Maybe that Theta Grunberg was right about climate change and what not...</p>

        
{% endblock %}