{% extends 'labrynth/base.html' %}

    {% block head %}
    {{ block.super }}
         <title>Keep Walking...</title>
    <style>
    body {
        background-color: rgb(208, 230, 208)
    }
    h1 {
    margin-top: 30px;
    }
    h1 {
        margin-left: 30px;
    }
    p {
        margin-left: 20px;
        font-size: 20px;
    }
    label {
        margin-left: 20px;
    }
    img {
        margin-left: 0px
    }
    a {
        font-size: 100px;
        margin-left: 20px;
    }
</style>
{% endblock %}

{% block content %}
<h1>The Labrynth</h1>
    <p>AH!!! You're startled from the sound and jump. Who just said that?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">I did</button>
    </form>
    <p>Err... You say hello? Not you... I mean me- I mean... Err... Shaquila says hello...</p>
    <p>Hey. Do you always say hi to voices in your head?</p>
    <p></p>


        
{% endblock %}
